@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');



* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

ul {
    display: flex;
    gap: 50px;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

ul li a {
    text-decoration: none;
    color: #424242;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;

}

.banner-description {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

.banner-content {
    max-width: 800;
    text-align: center;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border: 0px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}