@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');



* {
    font-family: 'Work Sans', sans-serif;
}

.shared-description {
    color: #727272;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border: 0px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

ul {
    display: flex;
    gap: 50px;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

ul li a {
    text-decoration: none;
    color: #424242;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;

}

.banner-description {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

.banner-content {
    max-width: 800;
    text-align: center;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}


/* facts style */
.facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}


/* facts section */

.facts-card-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    text-align: center;
    width: 241.831px;
    height: 241.831px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 80px 30px 30px 30px;
}

.card-stats {
    color: #424242;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsors style */

.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img {
    width: 152.506px;
    height: 50px;
 

}



    /* responsive media queries */
    /* mobaile devices */
    @media screen and (max-width: 576px) {
        header {
            padding: 20px;

        }

        nav,
        .sponsors-img-container,
        .teams-container {
            flex-direction: column;
        }

        ul {
            flex-direction: column;
            gap: 10px;
            margin: 0px;
        }



        .teams-img-container {
            grid-template-columns: 1fr;
        }

        .teams-content {
            padding-left: 20px;
            padding-right: 20px;
        }

        .facts-card-container {
            flex-direction: column;
            gap: 20px;
            margin-left: 37px;
        }
    }

    /* tablet or medium devices */



    @media screen and (min-width: 576px) and (max-width: 960px) {
        header {
            padding: 20px;

        }

        nav {
            flex-direction: column;
            text-align: center;
        }

        ul {
            flex-direction: column;
            gap: 10px;
            margin-right: 30px;
        }

        .teams-container {
            flex-direction: column-reverse;
        }
        .sponsors-img-container{
            flex-direction: column;
        }

        .teams-img-container {
            margin-top: 30px;
        }

        .facts-card-container {
            gap: 10px;
        }

    }